html {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    background-color: #fca17d;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-weight: 800;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: normal;
    text-align: center;
    gap: 1em;
}

#content:has(.incidents) {
    align-items: center;
}

.website-list,
.incident-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.website {
    text-align: left;
    padding: 2rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2rem;
    align-self: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    font-size: 0.9rem;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

button,
.view-button {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    box-shadow: 0px 8px 1px rgba(0, 0, 0, 0.3);
    border: none;
    transition: 0.3s ease-out;
    color: black;
}

.delete-button {
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 8px 1px rgba(255, 0, 0, 0.3);
}

.delete-button:hover {
    transform: translateY(5px);
    box-shadow: 0px 3px 1px rgba(255, 0, 0, 0.3);
}

.submit-button {
    background-color: rgba(0, 255, 0, 0.5);
    box-shadow: 0px 8px 1px rgba(0, 255, 0, 0.3);
}

.submit-button:hover {
    transform: translateY(5px);
    box-shadow: 0px 3px 1px rgba(0, 255, 0, 0.3);
}

.view-button {
    background-color: cyan;
    display: inline-block;
}

.view-button:hover {
    transform: translateY(5px);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
}

button:hover {
    transform: translateY(5px);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

form > button {
    margin-bottom: 5px;
}
input {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.1);
}
